<?xml version="1.0"?>
<launch>

  <!-- Load example URDF -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find frrobot_description)/urdf/frrobot.xacro'" /> -->
  <param name="robot_description" textfile="$(find frrobot_description)/urdf/fr5_gazebo.urdf" />
    
  <!-- Show in Rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find frrobot_description)/launch/fr5robot.rviz"/>

</launch>

